# Python & uv Virtual Environments
.venv/
venv/
ENV/
env/
__pycache__/
*.py[cod]

# uv Distribution & Build Artifacts
.uv/
build/
dist/
*.egg-info/

# dbt Artifacts
target/
dbt_packages/
dbt_modules/
logs/

# dbt extention Artifacts
*.user.yml


# DuckDB Database Files
*.duckdb
*.duckdb.wal

# OS & Editor Files
.DS_Store
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Ignore all .json files globally
*.json

# Un-ignore everything inside the .devcontainer folder
!.devcontainer/
!.devcontainer/*.json
